@model CarCity.Models.Car
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Car</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.mark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.mark)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.year)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.country)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    @if (Model.name.Equals(ViewBag.Name))
    {
        <h4>@ViewBag.Name.</h4>
        <h4>@ViewBag.Age</h4>
        <h4>@ViewBag.Date</h4>
    }
</body>
</html>
